@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes open-gear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(250deg);
  }
}
@keyframes close-gear {
  0% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes open-options {
  0% {
    width: 0px;
  }
  100% {
    width: 208px;
  }
}
@keyframes close-options {
  0% {
    width: 208px;
  }
  100% {
    width: 0px;
  }
}

.tag-button {
  @apply btn rounded-lg rounded-t-none btn-sm font-normal text-base h-6 min-h-6 px-7;
}

/* goal detail */
.open-options {
  animation: open-gear 1s;
  animation-timing-function: linear;
}
.close-options {
  animation: close-gear 1s;
  animation-timing-function: linear;
}
.open-options-width {
  animation: open-options 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.close-options-width {
  animation: close-options 1s;
  animation-timing-function: linear;
}
/* goal detail */

*::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  @apply bg-black bg-opacity-50; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}
